html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    font-family: "IBM Plex Super Family", Montserrat, "Nunito Sans", Merriweather; 
}


body{
    color: #00274C;
    background-color: rgb(237 236 236);
}

h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background-color: #00274c;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #00274C;
    padding: 0 0 12px 0;
    text-align: center;
    padding: 10px 0;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 8px;
}

p {
    font-size: 0.9rem;
    line-height: 1.5;
}

img {
    border: solid 5px #FFCB05;
    border-radius: 10px;
    width: 25%;
}

li {
    font-size: 0.9rem;
    margin-left: 40px;  
}

section {
    padding: 10px 10px 20px;
}

header {
    padding-bottom: 10px;
}




/*                                                                          STYLING FOR MOBILE VIEW (DEFAULT) */


/* ------------------------ START HEADER ELEMENTS ---------------------- */

/* Skip to Main Styling */

.skip {
    background-color: #00274C;
}

.skip a{
    background: white;
    color: #00274C;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: relative;
    top: -40px;
}

.skip a:focus {
    top: 20px;
    color: #00274C;
}

@media screen and (prefers-reduced-motion: reduce) {
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
}

/* END: Skip to Main Styling */

.Topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #00274c 0%, transparent 50%, #00274c 100%);
}

.Topnav img {
    border: none;
    max-width: 20%;
    margin: 0;
    border-radius: 0;
    padding: 0;
}

.search-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 50%;
    padding-right: 10px;
}

.search-bar input {
    grid-column: 1 / 5;
    padding: 6px;
    font-size: small;
    border: 2px solid #FFCB05;
    border-radius: 4px 0 0 4px;
    width: 100%;
}

.search-bar button {
    grid-column: 5 / -1;
    background-color: #FFCB05;
    border: none;
    padding: 2px 3px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.search-bar button img {
    min-width: 50%;
    background-color: transparent;
}

nav{
    background-image: url("https://alexis-camarena.github.io/client_project_html_f24//images/UMSI_CampusFall_UMSIBackpack_02.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: left;
}

nav ul {
    background-color: #00274c;
    border-bottom: solid 2px #ffffff;
    border-top: solid 2px #ffffff;
    padding: 10px 0;
    display: flex;
    text-wrap: wrap;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
}

nav li{
    display: inline;  
    vertical-align: middle;
    margin: 0;
    padding: 0 5px;
    border-right: solid 1px #ffffff;
}

nav ul li:last-child {
    border-right: none;
}


nav a:focus, nav a:hover {
    text-decoration: underline #FFCB05;
    color: #FFCB05;
    outline-offset: 4px;
    font-weight: bold;
}

nav a{
    color: #ffffff;
    font-weight: normal;
    text-decoration: none; 
}

.active {
    text-decoration: underline #ffffff;
    font-weight: bolder;
}


header section {
    text-align: center;
    max-height: 200px;
    overflow: auto;
}




/* --------------------- START MAIN STYLING ------------------ */

.sixgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 5px;
}

.sixgrid div {
    display: block;
    text-align: center;
}
.sixgrid img {
    width: 90%;
    margin-bottom: 0;
}

.c1 {
    grid-column: 1 / 3;
}

.c2 {
    grid-column: 3 / 5;
}

.c3 {
    grid-column: 5 / -1;
}

.c4 {
    grid-column: 1 / 4;
}

.c5 {
    grid-column: 4 / -1;
}

.c6 {
    grid-column: 2 / 6;
}





/* Home unqiue styling */

.resources {
    margin: 10px 0;
}

.resources div { 
    border: solid 1px #00274C;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 5px;
    background-color: #ffffff;
    width: 100%;
}

.resources img {
    display: none;
}

.altresources article div:hover, .altresources article div:focus {
    box-shadow: 0 0 20px #00274C;

}

.resources a {
    color: #0058ab;
}

.calendar-container {
    display: flex;
    justify-content: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px; 
}

.day , .date , .emptyDate {
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ddd;
}

.day {
    font-weight: bold;
    background-color: #00274C;
    color: #ffffff;
}

.date {
    background-color: #ffcd05a5;
}

.emptyDate {
    background-color: #ffcd054d;
}

.activeDate {
    background-color: #00274ca3;
    color: #ffffff;
    font-weight: bolder;
}

.circle {
    border: solid 3px #00274C;
    border-radius: 100px;
}

.white {
    border-color: #ffffff;
}

.eventDots {
    display: flex;
    justify-content: center;
}

.eventDots p {
    margin: 3px  2px 0 2px;
}



/* Academic Support unqiue styling */

.sectionBlock {
    border-top: dashed  2px #00274C;
    margin: 0 8px;
    align-items: center;
}


.degreeReqs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.degreeReqs div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 10px 0;
}

.degreeReqs img {
    width: 80%;
}

.degreeReqs li {
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    padding: 10px 0;

}

.buttons a {
    background-color: #FFCB05;
    padding: 5px;
    margin: 15px;
    border: solid 2px #ffbc05;
    border-radius: 20px;
    color: #00274C;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.buttons a:hover, .buttons a:focus {
    text-decoration: underline;
}


.columnBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columnBtns li {
    border: solid 1px #00274C;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.tutorsection {
    text-align: center;
    padding-bottom: 20px;
}



/* Student Wellbeing unique styling */

.altsection {
    margin: 20px 10px;
}

.altsection article {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px;
    padding: 15px; 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}


.altsection figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 10px 0;
}

.altsection img {
    width: 100%;
    border-radius: 5px;
    border-color: #666;
}


.altsection figcaption {
    font-size: 0.9rem; 
    color: #666; 
    margin-top: 5px; 
}

.altsection h3 {
    margin-top: 10px;
    color: #00274C;
}


.altsection p {
    margin-top: 10px; 
    color: #333;
    text-align: center;
}



/* ------------------- START FOOTER ELEMENTS ------------------ */

footer {
    display: flex;
    grid-template-columns: 20% auto;
    padding: 10px;
    background-color: #00274c;
    color: white;
    align-items: center;
}

footer img {
    max-height: 100px;
    width: auto;
}

footer a {
    color: white;
}


/*                                                                          STYLING FOR TABLET OR DESKTOP VIEW */


@media screen and (min-width: 750px) {
    
    h1 {
        font-size: 1.5rem;
    }
    
    h2, h3 {
        font-size: medium;
    }

    .Topnav img {
        width: 12%;
    }


    .search-bar {
        display: flex;
        align-items: center;
        width: 30%;
        padding-right: 10px;
    }


    .search-bar input {
        padding: 6px;
        font-size: 18px;
        height: 40px;
    }

    .search-bar button {
        height: 40px;
        width: 20%;
        align-content: center;
    }

    .search-bar button img {
        min-width: 50%;
    }

    nav ul {
        justify-content: center;
    }

    nav li{
        display: inline;
        padding: 0 40px;
        height: 100%;
        vertical-align: middle;
    }

    nav a{
        font-size: 1rem;
    }


    /* Main page unique styling */

    .date {
        padding: 5px 15px 25px 15px;
        height: 100px;
    }

    .day {
        padding: 15px;
    }

    .circle {
        border: none;
    }

    .eventDots {
        flex-direction: column;
    }
    
    .eventDots p {
        margin: 0;
    }
    

    .circle::before {
        content: attr(data-event);
        color: #00274C;   
        font-size: 0.6rem;
    }

    .circle.white::before {
        color: #ffffff; 
    }

    .resources img {
        display: inline;
        width: 60%;
        margin: 10px;
    }



    /* academic support */

    .degreeReqs {
        grid-template-columns: repeat(4, 1fr);
    }


    /* General */

    .altsection img {
       max-height: 80%;
    }

    .optimalMain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .asideMain {
        display: grid;
        grid-template-columns: 75% 25%; 
    }

    .threeCol {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .sixgrid {
        display: flex;
        justify-content: center;
    }
    
    .flexRow {
        flex-direction: column;
    }

    .resources div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}


/* optimize calendar */

@media screen and (min-width: 1000px) {

    .date {
        padding: 10px 30px 50px 30px;
        max-height: 100px;
    }

    .day {
        padding: 15px;
    }

    .circle {
        border: none;
    }

    .eventDots {
        flex-direction: column;
    }
    
    .eventDots p {
        margin: 0;
    }
    

    .circle::before {
        content: attr(data-event);
        color: #00274C;   
        font-size: 0.6rem;
    }
}


